doctype html
html
  head
    block title
    link(rel='stylesheet', href='/styles.css')
    link(rel='icon', type='image/x-icon', href='/images/favicon.png')
  body(class=hideNavbar ? "no-padding" : "")
    if !hideNavbar
      nav.navbar
        ul
          li: a(href='/index')
            img(src='/images/NavbarLogo.svg', alt='Site Logo', class='navbar-logo')
          li: a(href='/index') Home
          li: a(href='/explore') Explore
          li: a(href='/index') My Loadouts
          li: a(href='/profile') Profile
          li.logout: a.logout(href='/logout') Logout

    block content