extends layouts/layout

block title
    title Loadout Lab - Create

block content
    .container.create-loadout
        h1 Welcome to the Loadout Builder! 🎯

        form(style='margin-top: 15px; background-color: #f5f5f5; max-width: 1570px;')
            p
                | The Loadout Builder allows you to create and customise your ideal weapon setup while <strong> taking wildcards into account </strong> for flexible and strategic loadout choices. Whether you're focusing on close-quarters combat, long-range precision, or balanced versatility, this tool helps you craft the perfect setup.

            h3 How to Use the Loadout Builder

            p
                | Follow these simple steps to create your ultimate loadout:

            p(style='margin-left: -100px;')
                | 1️⃣ <strong>Choose a Name for Your Loadout</strong> – Give your setup a unique name so you can easily identify it later.

            p(style='margin-left: 50px;')
                | 2️⃣ <strong>Select a Primary Weapon</strong> – Pick from a variety of assault rifles, SMGs, LMGs, shotguns, marksman rifles, and sniper rifles.

            p(style='margin-left: 153px;')
                | 3️⃣ <strong>Select a Secondary Weapon</strong> – Choose a backup, such as another primary weapon, or a secondary option like a pistol or special weapon.

            p(style='margin-left: 165px;')
                | 4️⃣ <strong>Pick Attachments for Both</strong> – Customise your weapons with up to five or eight attachments, depending on your setup and wildcard choices. 

            p
                | 5️⃣ <strong>Be Sure to Save Your Loadout!</strong> – Once you're happy with your selections, save your loadout so you can use it later.

            p
                | Enjoy building the perfect loadout below and get ready to dominate Warzone! 💥

        .container.weapon-types
            .form-group.weapons 
                h2.class-title Loadout Name
                input(style='width: 20%; text-align: center;' type='text' id='loadoutName' name='loadoutName' placeholder='Enter a name for your loadout' required)

            // Primary Weapon Section
            .form-group.weapons
                h2.class-title Primary
                .weapon-selection-container
                    .selected-weapon#primaryWeaponContainer(style="display: none;")
                        p#primaryWeaponName 
                        img#primaryWeaponImage(src='' alt='Selected Primary Weapon')
                    .attachments-container#primaryAttachments(style="display: none;")
                        .attachments-grid
                            select.attachment#optic
                                option(value='' disabled selected) Optic
                                option(value='accu-spot-reflex') Accu-Spot Reflex
                                option(value='kepler-microflex') Kepler Microflex
                                option(value='otero-micro-dot') Otero Micro Dot
                                option(value='jason-armory-2x') Jason Armory 2x
                                option(value='willis-3x') Willis 3x
                            select.attachment#muzzle
                                option(value='' disabled selected) Muzzle
                                option(value='suppressor') Suppressor
                                option(value='compensator') Compensator
                                option(value='ported-compensator') Ported Compensator
                                option(value='muzzle-brake') Muzzle Brake
                            select.attachment#barrel
                                option(value='' disabled selected) Barrel
                                option(value='chf-barrel') CHF Barrel
                                option(value='long-barrel') Long Barrel
                                option(value='gain-twist-barrel') Gain-Twist Barrel
                                option(value='reinforced-barrel') Reinforced Barrel
                            select.attachment#underbarrel
                                option(value='' disabled selected) Underbarrel
                                option(value='vertical-foregrip') Vertical Foregrip
                                option(value='ranger-foregrip') Ranger Foregrip
                                option(value='precision-foregrip') Precision Foregrip
                                option(value='marksman-foregrip') Marksman Foregrip
                                option(value='lightweight-foregrip') Lightweight Foregrip
                            select.attachment#magazine
                                option(value='' disabled selected) Magazine
                                option(value='flip-mag') Flip Mag
                                option(value='fast-mag-1') Fast Mag I
                                option(value='fast-mag-2') Fast Mag II
                                option(value='extended-mag-1') Extended Mag I
                                option(value='extended-mag-2') Extended Mag II
                            select.attachment#reargrip
                                option(value='' disabled selected) Rear Grip
                                option(value='assault-grip') Assault Grip
                                option(value='commando-grip') Commando Grip
                                option(value='cqb-grip') CQB Grip
                                option(value='ergonomic-grip') Ergonomic Grip
                                option(value='quickdraw-grip') Quickdraw Grip
                            select.attachment#stock
                                option(value='' disabled selected) Stock
                                option(value='light-stock') Light Stock
                                option(value='infiltrator-stock') Infiltrator Stock
                                option(value='no-stock') No Stock
                                option(value='agility-stock') Agility Stock
                                option(value='balanced-stock') Balanced Stock
                            select.attachment#laser
                                option(value='' disabled selected) Laser
                                option(value='fast-motion-laser') Fast Motion Laser
                                option(value='steady-aim-laser') Steady Aim Laser
                                option(value='strelok-laser') Strelok Laser
                                option(value='tactical-laser') Tactical Laser
                                option(value='target-laser') Target Laser
                            select.attachment#firemods
                                option(value='' disabled selected) Fire Mods
                                option(value='fmj') FMJ
                                option(value='overpressured') Overpressured
                                option(value='rapid-fire') Rapid Fire
                                option(value='recoil-springs') Recoil Springs

                button#openPrimaryWeaponModal(type='button' class='plus-button') +
                button#removePrimaryWeaponButton(type='button', style='display:none') Remove Weapon

            // Secondary Weapon Section
            .form-group.weapons
                h2.class-title Secondary
                .weapon-selection-container
                    .selected-weapon#secondaryWeaponContainer(style="display: none;")
                        p#secondaryWeaponName 
                        img#secondaryWeaponImage(src='' alt='Selected Secondary Weapon')
                    .attachments-container#secondaryAttachments(style="display: none;")
                        .attachments-grid
                            select.attachment#optic
                                option(value='' disabled selected) Optic
                                option(value='accu-spot-reflex') Accu-Spot Reflex
                                option(value='kepler-microflex') Kepler Microflex
                                option(value='otero-micro-dot') Otero Micro Dot
                                option(value='jason-armory-2x') Jason Armory 2x
                                option(value='willis-3x') Willis 3x
                            select.attachment#muzzle
                                option(value='' disabled selected) Muzzle
                                option(value='suppressor') Suppressor
                                option(value='compensator') Compensator
                                option(value='ported-compensator') Ported Compensator
                                option(value='muzzle-brake') Muzzle Brake
                            select.attachment#barrel
                                option(value='' disabled selected) Barrel
                                option(value='chf-barrel') CHF Barrel
                                option(value='long-barrel') Long Barrel
                                option(value='gain-twist-barrel') Gain-Twist Barrel
                                option(value='reinforced-barrel') Reinforced Barrel
                            select.attachment#underbarrel
                                option(value='' disabled selected) Underbarrel
                                option(value='vertical-foregrip') Vertical Foregrip
                                option(value='ranger-foregrip') Ranger Foregrip
                                option(value='precision-foregrip') Precision Foregrip
                                option(value='marksman-foregrip') Marksman Foregrip
                                option(value='lightweight-foregrip') Lightweight Foregrip
                            select.attachment#magazine
                                option(value='' disabled selected) Magazine
                                option(value='flip-mag') Flip Mag
                                option(value='fast-mag-1') Fast Mag I
                                option(value='fast-mag-2') Fast Mag II
                                option(value='extended-mag-1') Extended Mag I
                                option(value='extended-mag-2') Extended Mag II
                            select.attachment#reargrip
                                option(value='' disabled selected) Rear Grip
                                option(value='assault-grip') Assault Grip
                                option(value='commando-grip') Commando Grip
                                option(value='cqb-grip') CQB Grip
                                option(value='ergonomic-grip') Ergonomic Grip
                                option(value='quickdraw-grip') Quickdraw Grip
                            select.attachment#stock
                                option(value='' disabled selected) Stock
                                option(value='light-stock') Light Stock
                                option(value='infiltrator-stock') Infiltrator Stock
                                option(value='no-stock') No Stock
                                option(value='agility-stock') Agility Stock
                                option(value='balanced-stock') Balanced Stock
                            select.attachment#laser
                                option(value='' disabled selected) Laser
                                option(value='fast-motion-laser') Fast Motion Laser
                                option(value='steady-aim-laser') Steady Aim Laser
                                option(value='strelok-laser') Strelok Laser
                                option(value='tactical-laser') Tactical Laser
                                option(value='target-laser') Target Laser
                            select.attachment#firemods
                                option(value='' disabled selected) Fire Mods
                                option(value='fmj') FMJ
                                option(value='overpressured') Overpressured
                                option(value='rapid-fire') Rapid Fire
                                option(value='recoil-springs') Recoil Springs
                
                button#openSecondaryWeaponModal(type='button' class='plus-button') +
                button#removeSecondaryWeaponButton(type='button', style='display:none') Remove Weapon

            // Modal for selecting weapon class and weapon (Shared)
            .modal#weaponModal
                .modal-content
                    span.close#closeWeaponModal &times;
                    h2(style='margin-top: 5px;') Select a Weapon
                    
                    select#weaponClassDropdown
                        option(value='' disabled selected) Select a weapon class
                        option(value='assault-rifle') Assault Rifle
                        option(value='smg') SMG
                        option(value='shotgun') Shotgun
                        option(value='lmg') LMG
                        option(value='marksman-rifle') Marksman Rifle
                        option(value='sniper-rifle') Sniper Rifle
                        option(value='pistol') Pistol
                        option(value='special') Special

                    .weapon-list#weaponList

                    button#confirmWeaponSelection(type='button') Select Weapon

    script(src='/js/loadout.js')
