extends layouts/layout

block title
  title Loadout Lab - Edit Profile

block content
  .container.edit-profile
    h1 Edit Profile

    form(style='margin-top: 40px;' id="editProfileForm")
      .form-group
        h4 Username:
        input(type='text' id='username' name='username')
        br
        p#username-error.error-message(style='display: none;')

      .form-group
        h4 First Name:
        input(type='text' id='firstName' name='firstName' placeholder="Enter your first name")

      .form-group
        h4 Last Name:
        input(type='text' id='lastName' name='lastName' placeholder="Enter your last name")

      .form-group
        h4 Email Address:
        input(type='email' id='email' name='email' placeholder="Enter your email address")

      .form-group
        button.btn(type='submit') Update Profile

    .form-group
      button.btn(type='button', onclick="window.location.href='/update-password'") Change Password

    p.sign-up-text(style='margin-bottom: 120px;')
      a(style='color: red;' href='/profile') Cancel

    .form-group
      button.btn-cancel(type='button', id="deleteAccountBtn") DELETE ACCOUNT

  div#confirmationModal.modal-overlay
    div.modal-content
      h2 Warning!
      p Are you sure you want to delete your account? This action <strong>cannot be undone</strong>.
      div.modal-buttons
        button.btn-danger(type="button" onclick="confirmDeleteAccount()") Yes, Delete
        button.btn-cancel(type="button" onclick="cancelDeleteAccount()") Cancel

  script(src='/js/editProfile.js')
