extends layouts/layout

block title
    title Loadout Lab - Explore

block content
    .container.home-page
        h1 Find Your Next Loadout!

        #loadoutsContainer
            p Loading loadouts...

    script(src='/js/explore.js')

        //- form(style='margin-top: 40px;')
        //-     p 
        //-         strong Coming soon! 
        //-     p This is where you'll be able to discover and view other users' loadouts and classes.  
        //-     p Stay tuned for exciting updates!

        //-     button.btn-intro-home(type='button', onclick="window.location.href='/index'") Return to Home Page