extends layouts/layout

block title
    title Loadout Lab - Explore

block content
    .container.home-page
        h1 Find Your Next Loadout!

        #loadoutsContainer
            p Loading loadouts...

    script(src='/js/explore.js')