extends layouts/layout

block title
    title Loadout Lab - Home

block content
    .container.home-page
        h1 Welcome to Loadout Lab!

        form(style='margin-top: 40px; background-color: #f5f5f5;')
            p
                | At Loadout Lab, we help you create, organise, and customise your perfect loadouts for Call of Duty: Warzone.

            p
                | Whether you're optimising your gear following the latest update, gearing up for Ranked Play, or setting up your ideal class, Loadout Lab gives you the tools to organise and create your loadouts so you're ready to slam!

            p
                | Create your own unique setups, share with others, and find loadouts to 'get better kid' - some random.

            p
                | With a sleek interface and user-friendly features, Loadout Lab is your go-to hub for crafting the perfect loadout.

            p
                strong Ready to take your gear to the next level? 
                | Start building today!

            button.btn-intro-home(style='margin-right: 150px;' type='button', onclick="window.location.href='/explore'") View All Loadouts
            button.btn-intro-home(type='button', onclick="window.location.href='/create-loadout'") Create Loadout

            p(style='margin-top: 40px;')
                | Below are some classes us at Loadout Lab have created and ranked. Trust us on this one!

        h2(style='margin-top: 40px;') Loadout Lab Formula
          form.warzone-meta
            h3.warzone-heading WARZONE META

          form.loadout-container
              img.weapon-image(src='/images/weapons/SMG/c9.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home C9
                .tag-container
                  span.tag.no1-tag #1 Close Range
                  span.tag.smg-tag SMG

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments
              
                // Hidden attachments section
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ SUPPRESSOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ VERTICAL FOREGRIP
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG II
                  p.loadout-attachment 
                    strong Rear Grip:
                    |  ‎ COMMANDO GRIP

          form.loadout-container
            img.weapon-image(src='/images/weapons/AR/ames85.png', alt='Weapon Image')
            .loadout-content-container
              h4.loadout-title-home Ames 85
              .tag-container
                span.tag.no2-tag #2 Long Range
                span.tag.assault-rifle-tag Assault Rifle

            .attachment-wrapper
              .loadout-attachment-button-container
                button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

              // Attachments section (Initially hidden)
              .loadout-attachment-grid
                p.loadout-attachment 
                  strong Optic:
                  |  ‎ WILLIS 3X
                p.loadout-attachment 
                  strong Muzzle:
                  |  ‎ COMPENSATOR
                p.loadout-attachment 
                  strong Barrel:
                  |  ‎ GAIN-TWIST BARREL
                p.loadout-attachment 
                  strong Underbarrel:
                  |  ‎ VERTICAL FOREGRIP
                p.loadout-attachment 
                  strong Magazine:
                  |  ‎ EXTENDED MAG II

          form.loadout-container
            img.weapon-image(src='/images/weapons/LMG/xmg.png', alt='Weapon Image')
            .loadout-content-container
              h4.loadout-title-home XMG
              .tag-container
                span.tag.no3-tag #3 Long Range
                span.tag.lmg-tag LMG

            .attachment-wrapper
              .loadout-attachment-button-container
                button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

              // Attachments section (Initially hidden)
              .loadout-attachment-grid
                p.loadout-attachment 
                  strong Optic:
                  |  ‎ WILLIS 3X
                p.loadout-attachment 
                  strong Muzzle:
                  |  ‎ COMPENSATOR
                p.loadout-attachment 
                  strong Barrel:
                  |  ‎ REINFORCED BARREL
                p.loadout-attachment 
                  strong Underbarrel:
                  |  ‎ VERTICAL FOREGRIP
                p.loadout-attachment 
                  strong Stock:
                  |  ‎ BUFFER WEIGHT STOCK

          form.loadout-container
            img.weapon-image(src='/images/weapons/SR/lr762.png', alt='Weapon Image')
            .loadout-content-container
              h4.loadout-title-home LR 7.62
              .tag-container
                span.tag.no2-tag #2 Sniper
                span.tag.sniper-rifle-tag Sniper

            .attachment-wrapper
              .loadout-attachment-button-container
                button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

              // Attachments section (Initially hidden)
              .loadout-attachment-grid
                p.loadout-attachment 
                  strong Muzzle:
                  |  ‎ SUPPRESSOR
                p.loadout-attachment 
                  strong Barrel:
                  |  ‎ LONG BARREL
                p.loadout-attachment 
                  strong Underbarrel:
                  |  ‎ LIGHTWEIGHT HANDGUARD
                p.loadout-attachment 
                  strong Rear Grip:
                  |  ‎ QUICKDRAW GRIP
                p.loadout-attachment 
                  strong Fire Mods:
                  |  ‎ 7.62 NATO OVERPRESSURED

          form.loadout-container
            img.weapon-image(src='/images/weapons/SMG/ksv.png', alt='Weapon Image')
            .loadout-content-container
              h4.loadout-title-home KSV
              .tag-container
                span.tag.no1-tag #1 Sniper Support
                span.tag.close-range-tag Close Range
                span.tag.smg-tag SMG

            .attachment-wrapper
              .loadout-attachment-button-container
                button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

              // Attachments section (Initially hidden)
              .loadout-attachment-grid
                p.loadout-attachment 
                  strong Muzzle:
                  |  ‎ COMPENSATOR
                p.loadout-attachment 
                  strong Barrel:
                  |  ‎ LONG BARREL
                p.loadout-attachment 
                  strong Underbarrel:
                  |  ‎ VERTICAL FOREGRIP
                p.loadout-attachment 
                  strong Magazine:
                  |  ‎ EXTENDED MAG II
                p.loadout-attachment 
                  strong Rear Grip:
                  |  ‎ COMMANDO GRIP


          form.a-tier
            h3.warzone-heading A TIER

          form.loadout-container
              img.weapon-image(src='/images/weapons/AR/xm4.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home XM4
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.assault-rifle-tag Assault Rifle
              
              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ WILLIS 3X
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ REINFORCED BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ VERTICAL FOREGRIP
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG III

          form.loadout-container
              img.weapon-image(src='/images/weapons/SR/lw3a1.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home LW3A1 Frostline
                .tag-container
                  span.tag.no3-tag #3 Sniper
                  span.tag.sniper-rifle-tag Sniper
              
              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ SUPPRESSOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Stock Pad:
                    |  ‎ LIGHTWEIGHT PAD
                  p.loadout-attachment 
                    strong Comb:
                    |  ‎ QUICKDRAW RISER
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ 7.62 NATO OVERPRESSURED

          form.loadout-container
              img.weapon-image(src='/images/weapons/AR/gpr91.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home GPR 91
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.assault-rifle-tag Assault Rifle

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ WILLIS 3X
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ REINFORCED BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ VERTICAL FOREGRIP
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG II

          form.loadout-container
              img.weapon-image(src='/images/weapons/SMG/pp919.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home PP-919
                .tag-container
                  span.tag.close-range-tag Close Range
                  span.tag.smg-tag SMG

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ SUPPRESSOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ FAST MAG I
                  p.loadout-attachment 
                    strong Rear Grip:
                    |  ‎ ERGONOMIC GRIP
                  p.loadout-attachment 
                    strong Stock:
                    |  ‎ INFILTRATOR STOCK

          form.loadout-container
              img.weapon-image(src='/images/weapons/AR/ak74.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home AK-74
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.assault-rifle-tag Assault Rifle

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ WILLIS 3X
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ GAIN-TWIST BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ VERTICAL FOREGRIP
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG III

          form.loadout-container
              img.weapon-image(src='/images/weapons/LMG/feng82.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home Feng 82
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.lmg-tag LMG

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ OTERO RED DOT
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ GAIN-TWIST BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ VERTICAL FOREGRIP
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG I

          form.b-tier
            h3.warzone-heading B TIER

          form.loadout-container
              img.weapon-image(src='/images/weapons/special/sirin9mm.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home Sirin 9mm
                .tag-container
                  span.tag.close-range-tag Close Range
                  span.tag.special-tag Special

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ IRON SIGHT
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ SUPPRESSOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ VERTICAL FOREGRIP
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG I

          form.loadout-container
              img.weapon-image(src='/images/weapons/shotgun/marineSP.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home Marine SP
                .tag-container
                  span.tag.close-range-tag Close Range
                  span.tag.shotgun-tag Shotgun

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ MODIFIED CHOKE
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Stock:
                    |  ‎ COMBAT STOCK
                  p.loadout-attachment 
                    strong Laser:
                    |  ‎ TACTICAL LASER
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ RAPID FIRE
          
          form.loadout-container
              img.weapon-image(src='/images/weapons/SR/amrMod4.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home AMR Mod 4
                .tag-container
                  span.tag.sniper-rifle-tag Sniper

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ LIGHTWEIGHT PAD
                  p.loadout-attachment 
                    strong Rear Grip:
                    |  ‎ QUICKDRAW GRIP
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ RECOIL SPRINGS

          form.loadout-container
              img.weapon-image(src='/images/weapons/MR/dm10.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home DM-10
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.marksman-rifle-tag Marksman

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ REINFORCED BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ PRECISION HANDGUARD
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG II
                  p.loadout-attachment 
                    strong Stock:
                    |  ‎ BUFFER WEIGHT STOCK

          form.loadout-container
              img.weapon-image(src='/images/weapons/LMG/pu21.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home PU-21
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.lmg-tag LMG

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ VOLZHSKIY REFLEX
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ REINFORCED BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ VERTICAL FOREGRIP
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ RECOIL SPRINGS

          form.loadout-container
              img.weapon-image(src='/images/weapons/LMG/gpmg7.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home GPMG-7
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.lmg-tag LMG

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ VOLZHSKIY REFLEX
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ REINFORCED BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ VERTICAL FOREGRIP
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG II

          form.loadout-container
              img.weapon-image(src='/images/weapons/shotgun/maelstrom.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home Maelstrom
                .tag-container
                  span.tag.close-range-tag Close Range
                  span.tag.shotgun-tag Shotgun

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ MODIFIED CHOKE
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG I
                  p.loadout-attachment 
                    strong Rear Grip:
                    |  ‎ COMMANDO GRIP
                  p.loadout-attachment 
                    strong Laser:
                    |  ‎ TACTICAL LASER

          form.loadout-container
              img.weapon-image(src='/images/weapons/MR/aek973.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home AEK-973
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.marksman-rifle-tag Marksman

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ WILLIS 3X
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ REINFORCED BARREL
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG II
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ 7.62X39MM OVERPRESSURED

          form.loadout-container
              img.weapon-image(src='/images/weapons/shotgun/asg89.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home ASG-89
                .tag-container
                  span.tag.close-range-tag Close Range
                  span.tag.shotgun-tag Shotgun

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ MODIFIED CHOKE
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Rear Grip:
                    |  ‎ COMMANDO GRIP
                  p.loadout-attachment 
                    strong Laser:
                    |  ‎ TACTICAL LASER
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ RAPID FIRE

          form.loadout-container
              img.weapon-image(src='/images/weapons/MR/swat556.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home SWAT 5.56
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.marksman-rifle-tag Marksman

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ WILLIS 3X
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ REINFORCED BARREL
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG II
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ RAPID FIRE

          form.loadout-container
              img.weapon-image(src='/images/weapons/SMG/tanto22.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home Tanto .22
                .tag-container
                  span.tag.close-range-tag Close Range
                  span.tag.smg-tag SMG

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ SUPPRESSOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ RANGER FOREGRIP
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG I
                  p.loadout-attachment 
                    strong Rear Grip:
                    |  ‎ ERGONOMIC GRIP

          form.loadout-container
              img.weapon-image(src='/images/weapons/pistol/grekhova.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home Grekhova
                .tag-container
                  span.tag.close-range-tag Close Range
                  span.tag.pistol-tag Pistol

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ KEPLER MICROFLEX
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG III
                  p.loadout-attachment 
                    strong Rear Grip:
                    |  ‎ QUICKDRAW GRIP
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ RAPID FIRE

          form.loadout-container
              img.weapon-image(src='/images/weapons/pistol/stryder22.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home Stryder .22
                .tag-container
                  span.tag.close-range-tag Close Range
                  span.tag.pistol-tag Pistol

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ KEPLER MICROFLEX
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ SUPPRESSOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG II
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ RAPID FIRE

          form.loadout-container
              img.weapon-image(src='/images/weapons/pistol/9mmPM.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home 9mm PM
                .tag-container
                  span.tag.close-range-tag Close Range
                  span.tag.pistol-tag Pistol

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ KEPLER MICROFLEX
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ SUPPRESSOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG II
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ RAPID FIRE

          form.loadout-container
              img.weapon-image(src='/images/weapons/pistol/gs45.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home GS45
                .tag-container
                  span.tag.close-range-tag Close Range
                  span.tag.pistol-tag Pistol

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ KEPLER MICROFLEX
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ SUPPRESSOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG II
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ RAPID FIRE

          form.c-tier
            h3.warzone-heading C TIER

          form.loadout-container
              img.weapon-image(src='/images/weapons/special/d13Sector.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home D1.3 Sector
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.special-tag Special

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ LONG BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ CROSSBAR
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXPLOSIVE BLADES
                  p.loadout-attachment 
                    strong Stock:
                    |  ‎ OVERCLOCKED STOCK

          form.loadout-container
              img.weapon-image(src='/images/weapons/MR/tsarkov762.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home Tsarkov 7.62
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.marksman-rifle-tag Marksman

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Optic:
                    |  ‎ WILLIS 3X
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ REINFORCED BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ WEIGHTED HANDGUARD
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG II

          form.d-tier
            h3.warzone-heading D TIER

          form.loadout-container
              img.weapon-image(src='/images/weapons/SR/svd.png', alt='Weapon Image')
              .loadout-content-container
                h4.loadout-title-home SVD
                .tag-container
                  span.tag.long-range-tag Long Range
                  span.tag.sniper-rifle-tag Sniper

              .attachment-wrapper
                .loadout-attachment-button-container
                  button.btn-attachments(type="button" onclick="toggleAttachments(event, this)") View Attachments

                // Attachments section (Initially hidden)
                .loadout-attachment-grid
                  p.loadout-attachment 
                    strong Muzzle:
                    |  ‎ PORTED COMPENSATOR
                  p.loadout-attachment 
                    strong Barrel:
                    |  ‎ REINFORCED BARREL
                  p.loadout-attachment 
                    strong Underbarrel:
                    |  ‎ PRECISION HANDGUARD
                  p.loadout-attachment 
                    strong Magazine:
                    |  ‎ EXTENDED MAG II
                  p.loadout-attachment 
                    strong Fire Mods:
                    |  ‎ RECOIL SPRINGS

    // Cookie Consent Modal
    #cookieModal.modal-cookie
      .cookie-content
        h3 Cookie Consent 🍪
        p We use cookies to improve your experience. By clicking "Accept," you agree to our use of cookies.
        .cookie-buttons
            button#acceptCookies Accept
            button#declineCookies Decline

    footer
      .footer-container
        .footer-left
          ul
            li: a(href='/about') About
            li: a(href='/contact') Contact
            li: a(href='/terms') Terms of Service
            li: a(href='/privacy') Privacy Policy
            li: a(href='https://uk.linkedin.com/in/finn-merton') Powered by Finn Merton
            p(style='margin-left: 80px;') &copy; 2025 Loadout Lab. All rights reserved.
        .footer-right
          a(href='https://www.facebook.com') 
            img(src='/images/facebook.png',target='_blank', alt='Facebook', class='social-icon')
          a(href='https://www.instagram.com') 
            img(src='/images/instagram.png', alt='Instagram', class='social-icon')
          a(href='https://www.x.com') 
            img(src='/images/twitter.png', alt='X', class='social-icon')

    script(src='/js/cookies.js')
    script(src='/js/attachmentsToggle.js')

