extends layouts/layout

block title
    title Loadout Lab - My Loadouts

block content
    .container
        h1 My Loadouts
        #loadoutsContainer
            p Loading your loadouts...
        
    script(src='/js/my-loadouts.js')
