extends layouts/layout

block title
    title Loadout Lab - Privacy

block content
    .container.home-page
        h1 Privacy Policy

        form(action='/index' style='margin-top: 40px; background-color: #f5f5f5; text-align: left; padding: 20px;')
            p
                strong Effective Date:
                |  12/03/2025
            p Thank you for visiting Loadout Lab. Your privacy and trust are important to us. This Privacy Policy outlines the types of information we collect from users, how we use that information, and the measures we take to protect your privacy.
            h2 Information We Collect
            ul
                li
                    strong Personal Information:
                    |  When you register or create an account, we may collect your username, email address, and any additional information you voluntarily provide.
                li
                    strong User Content:
                    |  Any loadouts, builds, or other content you submit to the site.
                li
                    strong Usage Data:
                    |  Information on how you access and use our website, including your IP address, browser type, pages visited, and timestamps.
            h2 How We Use Your Information
            p We use your information to:
            ul
                li Provide and improve our website and services.
                li Facilitate user interactions, such as sharing loadouts and builds.
                li Communicate with you about updates, security alerts, and user support.
                li Analyse website performance and usage patterns to enhance user experience.
            h2 Sharing Your Information
            p We do not sell or rent your personal information to third parties. Your information may be shared only in the following cases:
            ul
                li To facilitate services and interactions on the website.
                li For compliance with legal obligations or legal requests.
            h2 Protecting Your Information
            p We take measures to protect your information from unauthorised access, disclosure, or alteration. However, please remember that no method of internet transmission is completely secure.
            h2 Your Choices
            p You can update or delete your personal information by logging into your account settings or contacting us directly.
            h2 Third-Party Links
            p Our website may contain links to third-party websites or services. We are not responsible for the privacy practices of those third-party websites.
            h2 Contact Us
            p If you have questions or concerns about this Privacy Policy, please contact us at <strong>contact@loadout-lab.com</strong>.
            p Thank you for being part of our community!

            .submit-button
                button.send(type='submit' style='width: 10%;') Return to Home