extends layouts/layout

block title
  title Loadout Lab - Profile

block content
  .container
    h1 My Profile
    
    .profile-info
      p
        strong Username:
        |  
        span#username N/A

      p
        strong First Name:
        |  
        span#firstName Your account doesn't have a first name yet.

      p
        strong Last Name:
        |  
        span#lastName Your account doesn't have a last name yet.

      p
        strong Email:
        |  
        span#email Your account doesn't have an email yet.

      .form-group
        button.btn(type='button', onclick="window.location.href='/edit-profile'") Edit Profile
      
  script(src='/js/profile.js')
