extends layouts/layout

block title
    title Loadout Lab - Sign Up

block content
    .container(style='margin-bottom: 112px;')
        img(src='/images/LoadoutLabLogo.svg', alt='Site Logo', class='logo')
        h2 User Registration
        form(method='POST' action='/sign-up' id='signup-form')
            .form-group
                h4 Username:
                input(type='text' class='usernameInput' id='username' name='username' required)
                br
                if error
                    p#password-error= error

            .form-group
                h4(style='padding-top: 14px') Password:
                input(type='password' id='password' name='password' style='margin-bottom: 0px;' required)

            .form-group
                h4(style='padding-top: 14px') Confirm Password:
                input(type='password' id='confirmPassword' name='confirmPassword' style='margin-bottom: 0px;' required)
                
            p#capsLockWarning(style='display: none; margin-top: -10px;') Warning: Caps Lock is on!

            button.btn(type='submit') Register

            p.sign-up-text
                a(href='/login') Back to Login

        script.
            document.addEventListener('DOMContentLoaded', function() {
                const form = document.getElementById('signup-form');
                const passwordInput = document.getElementById('password');
                const confirmPasswordInput = document.getElementById('confirmPassword');
                const capsLockWarning = document.getElementById('capsLockWarning');

                // Caps Lock Warning
                passwordInput.addEventListener('keyup', function(event) {
                    capsLockWarning.style.display = event.getModifierState('CapsLock') ? 'block' : 'none';
                });

                confirmPasswordInput.addEventListener('keyup', function(event) {
                    capsLockWarning.style.display = event.getModifierState('CapsLock') ? 'block' : 'none';
                });
            });