extends layouts/layout

block title
    title Loadout Lab - Sign Up

block content
    .container(style='margin-bottom: 112px;')
        img(src='/images/LoadoutLabLogo.svg', alt='Site Logo', class='logo')
        h2 User Registration
        form(id='signup-form')
            .form-group
                h4 Username:
                input(type='text' class='usernameInput' id='username' name='username' required)
                br
                p#username-error.error-message(style='display: none; color: red;')

            .form-group
                h4(style='padding-top: 14px') Password:
                input(type='password' id='password' name='password' required)
                p#password-error.error-message(style='display: none; color: red;')
                p#confirm-password-error.error-message(style='display: none; color: red;')

            .form-group
                h4(style='padding-top: 14px') Confirm Password:
                input(type='password' id='confirmPassword' name='confirmPassword' required)

            p#capsLockWarning(style='margin-top: -10px;') Warning: Caps Lock is on!

            button.btn(type='submit') Register

            p.sign-up-text
                a(href='/login') Back to Login

    script(src='/js/signup.js')
