extends layouts/layout

block title
    title Loadout Lab - Terms

block content
    .container.home-page
        h1 Terms of Service

        form(action='/index' style='margin-top: 40px; background-color: #f5f5f5; text-align: left; padding: 20px;')
            p
                strong Effective Date:
                |  12/03/2025

            p Welcome to Loadout Lab. By accessing or using this website, you agree to be bound by these Terms of Service. If you disagree with any part of these terms, please do not use our website.

            h2 User Accounts

            ul
                li You are responsible for maintaining the confidentiality of your account information.
                li You agree to provide accurate and up-to-date information during registration.

            h2 User Content

            p Users may create, upload, and share loadouts and other content on the site. By posting content, you grant us a non-exclusive, royalty-free license to use, display, and distribute your submissions.

            h2 Acceptable Use

            p You agree not to:
            ul
                li Post content that is unlawful, harmful, abusive, offensive, or otherwise objectionable.
                li Attempt to disrupt or interfere with website functionality or security.
                li Engage in activities intended to collect other users' personal information without consent.

            h2 Intellectual Property

            p All website content, excluding user-generated content, including design, logos, and code, is our property or licensed to us and protected by intellectual property laws.

            h2 Limitation of Liability

            p Loadout Lab is not responsible for any damages arising from the use or inability to use our services or content provided by users.

            h2 Changes to Terms

            p We reserve the right to update or change these Terms at any time. Changes will be effective upon posting to this page.

            h2 Governing Law

            p These terms shall be governed by and interpreted according to the laws of your jurisdiction.

            h2 Contact

            p For questions regarding these terms, please contact us at <strong>contact@loadout-lab.com</strong>.

            p Thank you for using Loadout Lab. We hope you enjoy your experience!

            .submit-button
                button.send(type='submit' style='width: 10%;') Return to Home