extends layouts/layout

block title
  title Loadout Lab - Change Password

block content
    .container.update-password
        h1 Change Password
        form(id='update-password-form', style='margin-top: 40px;')
            input(type="hidden" name="_csrf" value=csrfToken)
            .form-group
                h4 Current Password:
                input(type='password' id='currentPassword' name='currentPassword' required)
                br
                p#password-error.error-message(style='display: none;')

            .form-group
                h4 New Password:
                input(type='password' id='newPassword' name='newPassword' required)

            .form-group
                h4 Confirm New Password:
                input(type='password' id='confirmPassword' name='confirmPassword' required)

            p#capsLockWarning(style='display: none;') Warning: Caps Lock is on!

            .form-group
                button.btn(type='submit') Update Password

        p.sign-up-text
            a(style='color: red;' href='/profile') Cancel

    script(src='/js/updatePassword.js')
