extends layouts/layout

block title
  title Loadout Lab - Edit Profile

block content
    .container.update-password
        h1 Change Password
        form(id='update-password-form', style='margin-top: 40px;' method='POST' action='/update-password')
            .form-group
                h4 Current Password:
                input(type='password' id='currentPassword' name='currentPassword' style='margin-bottom: 0px;' required)
                br
                if error
                    p#password-error= error

            .form-group
                h4(style='padding-top: 14px') New Password:
                input(type='password' id='newPassword' name='newPassword' style='margin-bottom: 0px;' required)

            .form-group
                h4(style='padding-top: 14px') Confirm New Password:
                input(type='password' id='confirmPassword' name='confirmPassword' style='margin-bottom: 0px;' required)

            p#capsLockWarning(style='display: none; margin-top: -10px;') Warning: Caps Lock is on!

            .form-group
                button.btn(type='submit') Update Password

        p.sign-up-text
            a(style='color: red; margin-bottom: 50px;' href='/profile') Cancel

    script.
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('update-password-form'); 
            const currentPasswordInput = document.getElementById('currentPassword');
            const newPasswordInput = document.getElementById('newPassword');
            const confirmPasswordInput = document.getElementById('confirmPassword');
            const currentPasswordError = document.getElementById('currentPassword-error'); 
            const capsLockWarning = document.getElementById('capsLockWarning');

            // Caps Lock Warning
            currentPasswordInput.addEventListener('keyup', function(event) {
                capsLockWarning.style.display = event.getModifierState('CapsLock') ? 'block' : 'none';
            });

            newPasswordInput.addEventListener('keyup', function(event) {
                capsLockWarning.style.display = event.getModifierState('CapsLock') ? 'block' : 'none';
            });

            confirmPasswordInput.addEventListener('keyup', function(event) {
                capsLockWarning.style.display = event.getModifierState('CapsLock') ? 'block' : 'none';
            });
        });
