/* Minimalistic Color Scheme */
:root {
    --primary-color: #3498db;
    --secondary-color: #ffffff;
    --accent-color: #ecf0f1;
    --text-color: #2c3e50;
}

/* Navigation Bar */
.navbar {
    background-color: var(--text-color); /* Use theme primary color */
    color: var(--secondary-color); /* White text */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Keeps navbar at the top */
    top: 0;
    left: 0;
    width: 97.9%;
    height: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow */
    z-index: 1000; /* Ensures navbar stays on top */
    border-radius: 50px; /* Adjust this value to control the roundness */
}

/* Navbar List */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

/* Navbar Items */
.navbar li {
    margin: 0 25px;
}

/* Push Logout to the right */
.navbar li.logout {
    margin-left: auto; /* This pushes the logout link to the right */
    margin-right: 20px;
}

/* Navbar Links */
.navbar a {
    text-decoration: none;
    color: var(--secondary-color); /* White */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
    align-items: center;
    padding: 10px 0;
}

/* Hover Effect */
.navbar a:hover {
    color: var(--primary-color); /* Lighter accent color */
}

.navbar a.logout:hover {
    color: #e74c3c; /* Red color for logout */
}

/* Style for active navbar link */
.navbar .active {
    border-bottom: 3px solid var(--primary-color);  /* Adds primary color line */
    padding-bottom: 5px;  /* Adjusts padding to accommodate the line */
}

.navbar-logo {
    height: 80px; /* Adjust the size of the logo as per your preference */
    margin-right: 15px; /* Space between the logo and the links */
    display: flex;
    align-items: center;
}

/* Footer Styles */
footer {
    background-color: #333;  /* Dark background for footer */
    color: #fff;  /* White text */
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  
  .footer-left ul {
    list-style-type: none;
    padding-top: 20px;
    margin: 10px 0;
    display: flex;
    margin-left: -300px;
  }
  
  .footer-left ul li {
    margin: 0 15px;
  }
  
  .footer-left ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  
  .footer-left ul li a:hover {
    text-decoration: underline;
  }

  .footer-left p {
    margin-top: 3px;
    font-size: 12px;
  }
  
  /* Social media icons on the right */
  .footer-right {
    margin-right: -240px;
    display: flex;
  }
  
  .footer-right a {
    margin-left: 15px;
  }
  
  .social-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }
  
  .footer-right a:hover .social-icon {
    opacity: 0.7;
  }  

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: var(--accent-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    height: 100vh;
    margin: 0;
}

body.no-padding {
    padding-top: 0 !important;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    flex-direction: column; /* Stack the logo and form */
    align-items: center; /* Center align the content */
    margin-bottom: 220px;
}

.container.home-page {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    flex-direction: column; /* Stack the logo and form */
    align-items: center; /* Center align the content */
    margin-bottom: 250px;
}

.container.explore-page {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    flex-direction: column; /* Stack the logo and form */
    align-items: center; /* Center align the content */
    margin-bottom: 335px;
}

.container.create-loadout {
    display: flex;
    justify-content: center; /* Centers the form horizontally */
    align-items: center; /* Optional: to align vertically if needed */
    max-width: 100%; /* Ensure the container is flexible */
    padding: 20px; /* Optional: padding around the container */
}

.container.edit-profile {
    width: 100%;
    max-width: 400px;
    text-align: center;
    flex-direction: column; /* Stack the logo and form */
    align-items: center; /* Center align the content */
    padding-top: 310px;
}

.container.update-password {
    width: 100%;
    max-width: 400px;
    text-align: center;
    flex-direction: column; /* Stack the logo and form */
    align-items: center; /* Center align the content */
    padding-top: 105px;
}

/* Logo styles */
.container img {
    width: 250px; /* Set the width of your logo */
    height: auto; /* Keep the aspect ratio */
    margin-top: 20px;
    margin-bottom: 20px; /* Space between logo and the form */
}

h2 {
    color: var(--text-color);
    margin-bottom: 20px;
}

/* Form styling */
form {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

form.weapon-types {
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding-left: 0px;
    width: 100%; /* Adjust the width as you desire */
    max-width: 1500px; /* Optional: maximum width */
    margin: 0; /* Remove any margin */
}

/* Form group styling */
.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group.weapons {
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
}

.form-group h4 {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--text-color);
    text-align: left;
}

h2.class-title {
    font-size: 20px;
    padding-top: 10px;
    margin-top: 0px;
    color: var(--text-color);
    text-align: left;
}

h3.class-sub-title {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
    margin-top: 0px;
    color: var(--text-color);
    text-align: center;
}

/* Input styling */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--primary-color);
    outline: none;
}

/* Error message styling */
p.error {
    font-family: system-ui;
    color: red;
    margin-top: -15px;
    font-size: 14px;
    text-align: left;
    position: absolute;
}

/* Caps Lock warning styling */
#capsLockWarning {
    font-size: 14px;
    color: red;
    margin-top: 5px;
    padding-left: 0px;
    text-align: left;
    position: absolute;
}

/* Password error styling */
#password-error,
#currentPassword-error,
#newPassword-error,
#confirmPassword-error {
    font-size: 14px;
    color: red;
    margin-top: 5px;
    padding-left: 0px;
    text-align: left;
    position: absolute;
}

/* Username error styling */
#username-error {
    font-size: 14px;
    color: red;
    margin-top: 5px;
    padding-left: 0px;
    text-align: left;
    position: absolute;
}

/* Button styling */
button.btn {
    width: 75%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.3s ease;
}

button.btn:hover {
    background-color: #2980b9;
}

button.btn:focus {
    outline: none;
}

/* Weapon type buttons styling */
button#confirmWeaponSelection {
    width: 40%;
    padding: 5px;
    font-size: 14px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button#confirmWeaponSelection:hover {
    background-color: #2980b9;
}

button#confirmWeaponSelection:focus {
    outline: none;
}

#openWeaponModal {
    background-color: var(--text-color);
    color: var(--secondary-color);
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    display: inline-block;
}

/* Modal background overlay */
.modal#weaponModal {
    position: fixed;           /* Keeps modal fixed on the screen */
    top: 0;                    /* Position at the top of the screen */
    left: 0;                   /* Position at the left of the screen */
    width: 100vw;              /* Full screen width */
    height: 100vh;             /* Full screen height */
    background: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
    display: none;             /* Initially hidden */
    justify-content: center;   /* Centers horizontally */
    align-items: center;       /* Centers vertically */
    z-index: 1000;
  }

  /* Modal content styling */
.modal#weaponModal .modal-content {
    background-color: white; /* White background for modal content */
    padding: 20px;           /* Add padding around the modal content */
    border-radius: 8px;      /* Rounded corners */
    width: 50%;              /* Set a width for the modal */
    min-width: 300px;        /* Ensure it doesn't shrink too small */
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Shadow for depth */
    text-align: center;
    position: absolute;
  }

  /* Close button */
.modal#weaponModal .close {
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
  }

/* Weapon select buttons styling */
.btn-weapon-select {
    width: 10%;
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: var(--text-color);
    color: var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
    transition: background-color 0.3s ease;
}

.btn-weapon-select:hover {
    background-color: #34495e;
}

.btn-weapon-select:focus {
    outline: none;
}

/* Intro home buttons styling */
button.btn-intro-home {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.3s ease;
}

button.btn-intro-home:hover {
    background-color: #2980b9;
}

button.btn-intro-home:focus {
    outline: none;
}

select#weaponClassDropdown {
    width: 45%;
    padding: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--text-color);
    color: var(--secondary-color);
    cursor: pointer;
}

#weaponList {
    flex-direction: column;
    align-items: center; /* This ensures all items are centered horizontally */
    justify-content: center; /* This ensures items are centered vertically if required */
    width: 100%; /* Full width container */
  }

/* Style for each weapon item */
.weapon-item {
    align-items: center;
    margin-bottom: 20px;
    transition: all 0.1s ease;
}

  /* Change the background color on hover */
.weapon-item:hover {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
}
  
/* Style the selected weapon item */
.weapon-item.selected {
    background-color: var(--text-color);
    color: var(--secondary-color);
    width: 45%;
    background-position: center;
    align-items: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

/* Styling for Sign Up text */
p.sign-up-text {
    font-size: 14px;
    color: var(--text-color);
    margin-top: 20px;
}

p.sign-up-text a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

p.sign-up-text a:hover {
    text-decoration: underline;
}

/* Profile Info Section */
.profile-info {
    background-color: #f9f9f9; /* Light background color */
    padding: 20px; /* Add padding inside the profile section */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Slight shadow to create depth */
    margin-bottom: 20px; /* Space below the profile section */
    max-width: 600px; /* Limit the width */
    margin-left: auto; /* Center align */
    margin-right: auto; /* Center align */
    margin-top: 40px;
    margin-bottom: 80px;
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center align items vertically */
    flex-direction: row;
  }
  
  .profile-info p {
    font-size: 16px; /* Set text size */
    line-height: 1.6; /* Line height for better readability */
    color: var(--text-color); /* Dark text color */
    text-align: left;
    width: 100%;
  }
  
  .profile-info strong {
    font-weight: bold; /* Make label text bold */
    color: #2c3e50; /* Darker color for labels */
  }

/* Modal Overlay */
.modal-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    backdrop-filter: blur(5px); /* Blur effect for background */
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  /* Buttons */
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-danger {
    background: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-danger:hover {
    background: darkred;
  }
  
  .btn-cancel {
    background: #ccc;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }

    .btn-cancel:hover {
        background-color: lightcoral;
    }

    .btn-cancel:focus {
        outline: none;
    }

/* Fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }

/* Responsive */
@media (max-width: 500px) {
    form {
        width: 90%;
    }

    h2 {
        font-size: 24px;
    }

    .form-group h4 {
        font-size: 14px;
    }

    button.btn, button.sign-up {
        width: 100%;
    }

    img.logo {
        width: 80px;
    }
}
